# exclude everything except directory foo/bar
/spring-node/target/**
/spring-node/.mvn/**
/data/**
.idea/**

# exclude local deploy configuration files and config files that contain secrets
.config/**
/**/_*.yml