# exclude everything except directory foo/bar
/spring-node/target/**
/data/**
.idea/**
**/.DS_Store

# exclude local deploy configuration files and grafana-agent files that contain secrets
/**/.config/**
/**/_*.yml
/**/_*.sh
/**/_*.yaml
/**/_*.txt
/**/.env
/**/*.jwt
/**/vendor/**